@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../public/roboto-mono-v23-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../public/Rubik-VariableFont_wght.ttf')
}
body {
  font-family: 'Rubik';
  background-color: #fff;
  color: black;
}

