
#projects-wrapper {
  position: absolute;
  left: 10%;
  top: 12%;
}

.projects-header {
  font-size: 40px;
  text-decoration: underline;
  text-decoration-color: orange;
}

.project-wrap {
}

.project-name {
  color: #bd09e6;
  font-size: 28px;
}

.project-tech {
  font-size: 14px;
  position: relative;
  bottom: 22px;
}

.product-url {
  position: absolute;
  top: 38%;
  left: 28%;
}

.product-url button {
  background-color: #bd09e6;
  color: white;
  width: 120%;
  height: 25px;
  border-radius: 3px;
  border: none;
}

.project-description {
  font-size: 16px;
  margin: 0;
  padding: 5px;
  width: 50%;
}

