#projects-wrapper {
  position: absolute;
  left: 4%;
  top: 18%;
}

.project-name {
  color: #bd09e6;
  font-size: 26px;
}

.project-tech {
  font-size: 14px;
  position: relative;
  bottom: 22px;
}

.product-url {
  display: none;
}

.product-url button {
}

.project-description {
  font-size: 16px;
  margin: 0;
  padding: 5px;
  width: 50%;
  position: relative;
  bottom: 40px;
  right: 20px;
}


