

#work-wrapper {
 position: absolute;
 top: 14%;
 left: 4%;
}

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Start below */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End in place */
  }
}

.job-wrapper {
  opacity: 0; /* Initially hidden */
  animation: fadeInSlideUp 1.5s ease-out forwards; /* Apply animation */
  animation-delay: var(--delay, 0s); /* Delay for staggered effect */
  margin-bottom: 3%;
}

.job-title {
  font-size: 26px;
  color: orange;
}

.job-company {  
  position: relative;
  bottom: 20px;
  font-size: 14px;
  color: #bd09e6;
}

.job-description {
  position: relative;
  bottom: 28px;
  right: 10px;
  width: 80%;
}
